* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
}
header nav  ul{
    display: inline;
    list-style: none;
    font-size: 1.5rem;
}
.display-inline {
    display: inline;
}
#Highscores {
    text-align: left;
}

#timeDisplay {
    padding-inline-start: 50%;
}

#timerCount {
    
}
body {
   
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(150,219,233,1) 100%);
}
.quizContent {
    margin-left: 10%;
    margin-right: 20%;
    text-align: center;
    font-size: 2rem;
}

section li {
    font-size: 1.5rem;
    position: relative;
    margin-top: 5px; 
    border:solid;
    color: white;
    background-color:grey; 
    padding-left:10px; 
    padding-right:10px; 
    border-radius:25px; 
    margin-left:25%; 
    width: fit-content;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

section li::after {
    position: absolute;
    z-index: -1;
    border:solid;
    color: white;
    background-color:grey; 
    border-radius:25px; 
    width: fit-content;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;

}

section li:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
section li:hover::after {
    opacity: 1;
}

button{
    font-size: 2rem;
}
.start-button:hover {
    cursor: pointer;
}